@media only screen and (min-width: 1441px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
    zoom: 0.4;
  }
  .tile-height { height: 30vh; }
}
@media only screen and (max-width: 1440px) { .tile-height { height: 14vh; } }
body {
  background-color: black;
  color: white;
  text-align: center;
}
.border-20 { --bs-border-width: 20px; }
.h-60 { height: 60% !important; }
.mb-div-end { margin-bottom: 8rem; }
.spinner-top {
  width: 15rem;
  height: 15rem;
  margin-top: 15rem;
}

/* LINKS */
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* COLORS */
.gust-color { color: hotpink; }
.bg-sticky { background-color: black; }
.bg-tile { background-color: var(--bs-gray-800); }

/* SCROLL TILES */
#tile-container {
  overflow-x: scroll;
  padding: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
#tiles {
  display: flex;
  align-items: center;
  width: 325%;
  margin-bottom: 4px;
}
.tile { scroll-snap-align: start; }
.tile-border {
  border-radius: var(--bs-border-radius-xl) !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-width: 3px;
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-warning-rgb), var(--bs-border-opacity)) !important;
}
.tile-border-selected {
  border-radius: var(--bs-border-radius-xl) !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-width: 5px;
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}

/* WIND ALOFT & STATIONS BACKGROUND IMAGES */
.bg-aloft {
  background-image: url('../images/aloft.png');
  background-size: 100% 100%;
}
.bg-KSLC {
  background-image: url('../images/kslc2500x420p10.png');
  background-size: 100% 100%;
}
.bg-AMB {
  background-image: url('../images/amb3kx5hp10.png');
  background-size: 100% 100%;
}
.bg-UTOLY {
  background-image: url('../images/utoly936wp20.png');
  background-size: 100% 100%;
}
.bg-KU42 {
  background-image: url('../images/ku423000x500p0.png');
  background-size: 100% 100%;
}
.bg-HF012 {
    background-image: url('../images/hf0123kx5hp0.png');
    background-size: 100% 100%;
}
.bg-FPS {
  background-image: url('../images/fps3000x500p30.png');
  background-size: 100% 100%;
}
.bg-OGP {
  background-image: url('../images/ogp3kx5hp0.png');
  background-size: 100% 100%;
}

/* D3 */
.gridticks {
  color: lightgray;
  opacity: 0.5;
}
.svgbg { fill: #212529; }
.textlabel {
  fill: white;
  font-size: 150%;
}
.xAxis { font-size: 175%; }
.xLabel {
  fill: white;
  font-size: 200%;
  font-weight: bold;
}
.yAxis { font-size: 175%; }
.yLabel {
  fill: white;
  text-anchor: middle;
  font-size: 200%;
  font-weight: bold;
}
.maxtemp {
  fill: #0dcaf0;
  font-size: 350%;
  font-weight: bold;
}
.temp {
  fill: #dc3545;
  font-size: 350%;
  font-weight: bold;
}
.dewpoint {
  fill: #20c997;
  font-size: 350%;
  font-weight: bold;
}
.dalrlabel {
  fill: white;
  font-size: 200%;
}
.neg3label {
  fill: white;
  font-size: 200%;
}
.tollabel {
  fill: white;
  font-size: 200%;
}
