@media only screen and (min-width: 1081px) {
    body {
      margin-left: 35%;
      margin-right: 35%;
      zoom: 0.5;
    }
  }
@media only screen and (max-width: 1080px) {
  body { width: 90%; }
  .container-fluid {
    margin-left: 5%;
    margin-left: 5%;
  }
}
body {
  background-color: #000050;
  color: white;
  padding-left: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.font-landing { font-size: 500%; }
.mt-landing { margin-top: 20% }
.wwborder { border-radius: 1rem !important; }
