@media only screen and (min-width: 1081px) {
    body {
        margin-left: 35%;
        margin-right: 35%;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
body {
    background-color: #000050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.bar { width: 80%; margin: auto; }
.starthidden { display: none; }
hr.dash { border: 1px dashed white; }
button {
    background-color: rgb(80,80,80);
    color: white;
    font-weight: bold;
    font-size: 300%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 47%;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Text Sizes */
.txtsz125 { font-size: 125%; }
.txtsz150 { font-size: 150%; }
.txtsz200 { font-size: 200%; }
.txtsz250 { font-size: 250%; }
.txtsz300 { font-size: 300%; }
.txtsz350 { font-size: 350%; }

/* Text Alignment */
.left { text-align: left; }
.indent { padding-left: 2%; }
.justify { text-align: justify; }

/* Weight and Colors */
.unbold { font-weight: normal; }
.ltblue { color: lightblue; }
.yellow { color: #FCDC99; }
.ltred { color: #FB6962; }
.ltgreen { color: lightgreen; }
.white { color: white; }

/* Table & Table Data */
table { width: 100%; }
table.aloftbg {
    background-image: url('images/aloft.png');
    background-size: 100% 100%;
}
table.ambbg {
    background-image: url('images/baldy.png');
    background-size: 100% 100%;
    border-spacing: 0px;
}
table.bordered {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    border-spacing: 0px;
}
table.graybg { background-color: rgb(80,80,80); }
table.slcbg {
    background-image: url('images/slc.jpg');
    background-size: 100% 100%;
    border-spacing: 0px;
}
td.aloftalti {
    width: 12%;
}
td.ambwind {
    font-size: 250%;
    vertical-align: bottom;
    width: 14.25%;
}
td.bottom { vertical-align: bottom; }
td.current { width: 25%; }
td.dirimg {
    text-align: center;
    width: 15%;
}
td.grayoverlay { background-color: rgb(100,100,100,0.5); }
td.kslcwind {
    font-size: 250%;
    vertical-align: bottom;
    width: 7.75%;
}
td.noaaday {
    font-size: 250%;
    vertical-align: top;
    color: lightblue;
}
td.noaatext {
    font-size: 125%;
    vertical-align: text-top;
    padding-left: 2%;
    text-align: justify;
    font-weight: normal;
}
td.padright { padding-right: 2%;}
td.pressure {
    font-size: 200%;
    vertical-align: bottom;
    width: 14.25%;
}
td.soarcast {
    font-size: 200%;
    text-align: center;
    width: 36%;
}
td.subm {
    font-weight: normal;
    vertical-align: bottom;
    text-align: right;
}
td.vertpad { padding: 2%; }

/* Span */
span.mid { vertical-align: 75%; }
span.subright {
    float: right;
    font-weight: normal;
    margin-right: 5%;
}
span.top { vertical-align: top; }

/* Div */
div.misc {
    font-size: 150%;
    font-weight: normal;
    color: #FCDC99;
    text-decoration: underline;
}
div.subhead {
    margin-top: 50px;
    margin-bottom: 25px;
}
div.subhead250 {
    font-size: 250%;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Images */
.graphical {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 200%;
}
.venmo {
    vertical-align: middle;
}

/* D3 */
.dalrgrid {
    opacity: 0.4;
    stroke: white;
}
.gridticks {
    color: lightgray;
    opacity: 0.9;
}
.svgbg {
    fill: #000080;
    background-color: #000080;
}
.textlabel {
    fill: white;
    font-size: 150%;
}
.xAxis { font-size: 150%; }
.xLabel {
    fill: lightblue;
    font-size: 150%;
}
.yAxis { font-size: 150%; }
.yLabel {
    fill: lightblue;
    text-anchor: middle;
    font-size: 150%;
}
