@media only screen and (min-width: 1081px) {
    body {
        margin-left: 35%;
        margin-right: 35%;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
body {
    background-color: #000050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.txtsz125 { font-size: 125%; }
.txtsz150 { font-size: 150%; }
.txtsz200 { font-size: 200%; }
.txtsz250 { font-size: 250%; }
.txtsz300 { font-size: 300%; }
.txtsz350 { font-size: 350%; }
.left { text-align: left; }
.right { text-align: right; }
.indent { margin-left: 2%; }
.unbold { font-weight: normal; }
.underline { text-decoration: underline; }
.ltblue { color: lightblue; }
.yellow { color: #FCDC99; }
.ltred { color: #FB6962; }
.ltgreen { color: lightgreen; }
.white { color: white; }
.starthidden { display: none; }
hr.dash { border: 1px dashed white; }
table { width: 100%; }
table.gray { background-color: rgb(80,80,80); }
table.bordered {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    border-spacing: 0px;
}
table.baldy {
    background-image: url('images/baldy.png');
    background-size: 100% 100%;
    border-spacing: 0px;
}
table.slc {
    background-image: url('images/slc.jpg');
    background-size: 100% 100%;
    border-spacing: 0px;
}
td.colorstripe { background-color: rgb(100,100,100,0.5); }
td.current { width: 25%; }
td.kslc-wind { width: 7.75%; }
td.amb-wind { width: 14.25%; }
td.top { vertical-align: top; }
td.bottom { vertical-align: bottom; }
td.noaa-text {
    vertical-align: text-top;
    padding-left: 20px;
    text-align: left;
    font-weight: normal;
    color: white;
}
td.noaa-day {
    vertical-align: top;
    color: lightblue;
}
button {
    background-color: rgb(100,100,100);
    color: white;
    font-weight: bold;
    font-size: 220%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 47%;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.bar { width: 80%; margin: auto; }
span.aloft { vertical-align: top; }
.flex-graphical {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aloftbg {
    background-image: url('images/aloft.png');
    background-size: 100% 100%;
}
.dalrLabel {
    fill: white;
    font-size: 150%;
}
.yAxis { font-size: 150%; }
.xAxis { font-size: 150%; }
.yLabel {
    fill: lightblue;
    text-anchor: middle;
    font-size: 150%;
}
.xLabel {
    fill: red;
    font-size: 150%;
}
.grid-ticks {
    color: lightgray;
    opacity: 0.9;
}
.svg-bg {
    fill: #000034;
    background-color: #000030;
}
.grid-dalr {
    opacity: 0.4;
    stroke: white;
}
