@media only screen and (min-width: 1081px) {
    body {
        margin-left: 35%;
        margin-right: 35%;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
body {
    background-color: #000034;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.txtsz125 { font-size: 125%; }
.txtsz150 { font-size: 150%; }
.txtsz200 { font-size: 200%; }
.txtsz250 { font-size: 250%; }
.txtsz300 { font-size: 300%; }
.txtsz350 { font-size: 350%; }
.left { text-align: left; }
.right { text-align: right; }
.unbold { font-weight: normal; }
.underline { text-decoration: underline;}
.ltblue { color: lightblue; }
.yellow { color: yellow; }
hr.dash { border: 1px dashed white; }
table { width: 100%; }
table.bordered {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
}
td.current { width: 25%; }
td.bottom { vertical-align: bottom; }
td.top { vertical-align: top; }
span.aloft { vertical-align: top; }
/* td { border: 1px solid white; } */
td.noaa-text {
    vertical-align: text-top;
    padding-left: 20px;
    text-align: left;
    font-weight: normal;
    color: white;
    font-size: 105%;
}
td.noaa-day {
    vertical-align: top;
    color: lightblue;
}
.starthidden { display: none; }
button {
    background-color: rgb(100, 100, 100);
    color: white;
    font-weight: bold;
    font-size: 250%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 47%;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.flex-graphical {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aloftbg {
    background-image: url('images/aloft.png');
    background-size: 100% 100%;
}
