@media only screen and (min-width: 1081px) {
    body {
        margin-left: 35%;
        margin-right: 35%;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
body {
    background-color: #000034;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
.txtsz125 { font-size: 125%; }
.txtsz150 { font-size: 150%; }
.txtsz200 { font-size: 200%; }
.txtsz250 { font-size: 250%; }
.txtsz300 { font-size: 300%; }
.left { text-align: left; }
.right { text-align: right; }
.unbold { font-weight: normal; }
.underline { text-decoration: underline;}
.ltblue { color: lightblue; }
table {
    width: 100%;
}
td.current { width: 25%; }
td.bottom { vertical-align: bottom; }
