@media only screen and (min-width: 1081px) {
    body {
        margin-left: 35%;
        margin-right: 35%;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
body {
    background-color: #000034;
    font-family: 'Tahoma';
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
table {
    width: 100%;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
}
hr {
    border: 2px solid white;
}
.noborder {
    border: none;
}
td.noaa-text {
    vertical-align: text-top;
    padding-left: 20px;
    text-align: left;
    font-weight: normal;
    color: white;
}
td.noaa-day {
    vertical-align: top;
    color: lightblue;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.indent {
    padding-left: 20px;
}
.bottom {
    vertical-align: sub;
}
.underline {
    text-decoration: underline;
}
.notbold {
    font-weight: normal;
}
.white {
    color: white;
}
.ltblue {
    color: lightblue;
}
.coral {
    color: coral;
}
.txtsz50 {
    font-size: 50%;
}
.txtsz150 {
    font-size: 150%;
}
.txtsz200 {
    font-size: 200%;
}
.txtsz250 {
    font-size: 250%;
}
.txtsz300 {
    font-size: 300%;
}
.txtsz350 {
    font-size: 350%;
}
.txtsz400 {
    font-size: 400%;
}
.flex-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col-chart {
    display: flex;
    flex-direction: column;
    flex-basis: 140px;
}
.flex-menu {
    display: flex;
    flex-basis: flex-start;
}
.start-hidden {
    display: none;
}
.show {
    display: block;
}
.menu-button {
    background-image: url('images/menu.png');
    background-color: transparent;
    padding: 43px;
    border: none;
}
.menu-option-button {
    background-color: rgb(100, 100, 100);
    color: white;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    width: 75%;
    text-align: left;
}
.menu-selection {
    flex: 1;
    margin-right: 10%;
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.toggle-button {
    background-color: transparent;
    border: none;
}
