@media only screen and (min-width: 1081px) {
    body {
        margin-left: 35%;
        margin-right: 35%;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
body {
    background-color: #000034;
    font-family: 'Tahoma';
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
table {
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    padding: 10px;
}
.noborder {
    border: none;
}
td.bottom {
    vertical-align: bottom;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.indent {
    padding-left: 20px;
}
.underline {
    text-decoration: underline;
}
.white {
    color: white;
}
.ltblue {
    color: lightblue;
}
.coral {
    color: coral;
}
.txtsz50 {
    font-size: 50%;
}
.txtsz150 {
    font-size: 150%;
}
.txtsz200 {
    font-size: 200%;
}
.txtsz250 {
    font-size: 250%;
}
.txtsz300 {
    font-size: 300%;
}
.txtsz350 {
    font-size: 350%;
}
.txtsz400 {
    font-size: 400%;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    flex-basis: 140px;
}
.starthidden {
    display: none;
}
button {
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    margin-top: 10px;
}
button:active {
    background-color: darkblue;
}
button:focus {
    background-color: darkblue;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
hr {
    border: 2px solid white;
}