@media only screen and (min-width: 1441px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
    zoom: 0.4;
  }
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

/* LINKS */
a:link, a.visited, a.active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* SCROLL TILES */
#tile-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.tile { scroll-snap-align: start; }
