body {
  text-align: center;
  color: white;
  background: black;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 2%);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Hides visible scroll bar slider */
.carousel::-webkit-scrollbar {
  display: none;
}

/* Prevents automatic reset scroll when end is reached */
.carousel.no-transition {
  scroll-behavior: auto;
}

/* Prevents click-drag text selection */
.carousel.dragging .tile {
  cursor: grab;
  user-select: none;
}

.carousel .tile {
  scroll-snap-align: start;
  height: 10vh;
  list-style: none;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
