@media only screen and (min-width: 1081px) {
  body {
    margin-left: 35%;
    margin-right: 35%;
    zoom: 0.5;
  }
}
@media only screen and (max-width: 1080px) {
  body { width: 90%; }
  .container-fluid {
    margin-left: 5%;
    margin-left: 5%;
  }
}
body {
  background-color: #000050;
  color: white;
  text-align: center;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.pink { color: pink; }
.bg-heading { background-color: #000050; }
.bg-aloft {
  background-image: url('images/aloft.png');
  background-size: 100% 100%;
}
.bg-KSLC {
  background-image: url('prod/images/kslc2500x420p10.png');
  background-size: 100% 100%;
}
.bg-AMB {
  background-image: url('prod/images/amb3kx5hp10.png');
  background-size: 100% 100%;
}
.bg-UTOLY {
  background-image: url('prod/images/utoly936wp20.png');
  background-size: 100% 100%;
}
.bg-KU42 {
  background-image: url('prod/images/ku423000x500p0.png');
  background-size: 100% 100%;
}
.bg-HF012 {
    background-image: url('prod/images/hf0123kx5hp0.png');
    background-size: 100% 100%;
}
.bg-FPS {
  background-image: url('prod/images/fps3000x500p30.png');
  background-size: 100% 100%;
}
.bg-OGP {
  background-image: url('prod/images/ogp3kx5hp0.png');
  background-size: 100% 100%;
}
.bg-C8948 {
  background-image: url('prod/images/c89483kx5hp0.png');
  background-size: 100% 100%;
}
hr.dash { border: 3px dashed white !important; }
.mb-div-end { margin-bottom: 8rem !important; }
.wwborder { border-radius: 1rem !important; }

/* D3 */
.dalrgrid {
  opacity: 0.25;
  stroke: white;
}
.gridticks {
  color: lightgray;
  opacity: 0.5;
}
.svgbg { fill: #212529; }
.textlabel {
  fill: white;
  font-size: 150%;
}
.xAxis { font-size: 150%; }
.xLabel {
  fill: white;
  font-size: 150%;
  font-weight: bold;
}
.yAxis { font-size: 150%; }
.yLabel {
  fill: white;
  text-anchor: middle;
  font-size: 150%;
  font-weight: bold;
}
.templabel {
  fill: #0dcaf0;
  font-size: 200%;
  font-weight: bold;
}
.raoblabel {
  fill: #dc3545;
  font-size: 200%;
  font-weight: bold;
}
.dewpointlabel {
  fill: #20c997;
  font-size: 200%;
  font-weight: bold;
}
.dalrlabel {
  fill: white;
  font-size: 150%;
}
.alternatemax {
  fill: #ffc107;
  font-size: 200%;
  font-weight: bold;
}
