:root {
  --width: 0;
  --margin: 0;
}

body {
  text-align: center;
  color: white;
  background: black;
}

.own-carousel__outer {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.own-carousel{
  display: flex;
}

.tile {
  flex-shrink: 0;
  overflow: hidden;
  flex-basis: var(--width);
}

.tile:not(:first-child) {
  margin-left: var(--margin);
}
