body {
  text-align: center;
  color: white;
  background: black;
}

.carousel-outer {
  position: relative;
  overflow: hidden;
  user-select: none;
  overflow-x: scroll;
}

.carousel {
  display: flex;
}

.tile {
  flex-shrink: 0;
  overflow: hidden;
  flex-basis: var(--width);
}

.tile:not(:first-child) {
  margin-left: var(--margin);
}

/* #nav {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.tile {
  scroll-snap-align: start;
} */